<div class="header">
	<div class="score">Number of SETs found: {{numSets}}</div>
	<div class="timer" ng-include="'components/timer/timerTemplate.html'" ng-controller="TimerController"></div>
</div>

<div class="container">
	<div class="card" ng-repeat="card in board" ng-class="[{1:'red', 2:'yellow', 3:'blue'}[card[0]], {selected: selected[$index] === true}]" ng-click="toggleSelected($index)">
		<i class="icon-" ng-repeat="n in [].constructor(card[1]) track by $index">{{card[3] + 3*(card[2] - 1)}}</i> 
	</div>
	<div class="deal-button" ng-class="canDealMore ? 'enabled' : 'disabled'" ng-click="dealMore()">Deal 3 More Cards</div>
</div>
