.header {
	width: 660px; 
	overflow: auto;
	font-family: ProximaNova-Regular;
}

.score {
	float: left;
	font-size: 20px;
}

.timer {
	float: right; 
	font-size: 20px;
}

.container {
	width: 670px;
	font-family: ProximaNova-Regular; 
}

.card {
	display: inline-block; 
	text-align: center;
	width: 200px;
	height: 120px; 
	line-height: 120px; 
	margin: 10px;
	border: 1px solid black; 
	border-radius: 10px;
	cursor: pointer;
}

.selected {
	box-shadow: 0 0 0 4px yellow;
}

.shape {
	display: inline-block; 
	font-size: 50px;
}

.red {
	color: red;
}

.green {
	color: green; 
}

.blue {
	color: blue;
}

.solid {
	text-decoration: overline;
}

.shaded {
	text-decoration: underline;
}

.deal-button {
	text-align: center;
	margin: 0 auto; 
	width: 180px;
	height: 40px; 
	line-height: 40px; 
	background-color: #4AACDE;
	color: white; 
	border-radius: 3px; 
	cursor: pointer;
}
