.container {
	width: 700px;
}

.card {
	display: inline-block; 
	text-align: center;
	line-height: 120px; 
	width: 200px;
	height: 120px; 
	margin: 10px;
	border: 1px solid black; 
	border-radius: 10px;
}

.selected {
	box-shadow: 0 0 0 4px yellow;
}

.shape {
	display: inline-block; 
	font-size: 50px;
}

.red {
	color: red;
}

.green {
	color: green; 
}

.blue {
	color: blue;
}

.solid {
	text-decoration: overline;
}

.shaded {
	text-decoration: underline;
}