.header {
	width: 660px; 
	overflow: auto;
	font-family: ProximaNova-Regular;
}

.score {
	float: left;
	font-size: 20px;
}

.timer {
	float: right; 
	font-size: 20px;
}

.container {
	width: 670px;
	font-family: ProximaNova-Regular; 
}

.card {
	display: inline-block; 
	text-align: center;
	width: 200px;
	height: 120px; 
	line-height: 120px; 
	margin: 10px;
	border: 1px solid black; 
	border-radius: 10px;
	cursor: pointer;
}

.selected {
	box-shadow: 0 0 0 4px yellow;
}

.shape {
	display: inline-block; 
	font-size: 12px;
}

@font-face {
  font-family: 'icomoon';
  src:  url('./shapes/icomoon.eot?eaappv');
  src:  url('./shapes/icomoon.eot?eaappv#iefix') format('embedded-opentype'),
    url('./shapes/icomoon.ttf?eaappv') format('truetype'),
    url('./shapes/icomoon.woff?eaappv') format('woff'),
    url('./shapes/icomoon.svg?eaappv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-size: 90px;
  letter-spacing: 8px; 
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-diamond-empty:before {
  content: "\31";
}
.icon-oval-empty:before {
  content: "\32";
}
.icon-rectangle-empty:before {
  content: "\33";
}
.icon-diamond-shaded:before {
  content: "\34";
}
.icon-oval-shaded:before {
  content: "\35";
}
.icon-rectangle-shaded:before {
  content: "\36";
}
.icon-diamond-solid:before {
  content: "\37";
}
.icon-oval-solid:before {
  content: "\38";
}
.icon-rectangle-solid:before {
  content: "\39";
}


.red {
	color: #FF4E4E;
}

.yellow {
	color: #FAD130; 
}

.blue {
	color: #06B9BA;
}

.deal-button {
	text-align: center;
	margin: 0 auto; 
	width: 180px;
	height: 40px; 
	line-height: 40px; 
	background-color: #4AACDE;
	color: white; 
	border-radius: 3px; 
	cursor: pointer;
}
